# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log
logs/
/logs/*

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración de entorno
.env

# Archivos de compilación o distribución
dist/
build/